body
{
	font-family:times;
	text-align:left;
	color:white;
	font-size: 18pt;
	background: url(back1.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size:cover;
background-size: cover;
}